@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@theme {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  @apply bg-gray-100 text-gray-800; 
}
* {
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}


button:active {
  transform: scale(0.96);
}

tr {
  transition: background-color 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}